option_settings:
  - namespace:  aws:elasticbeanstalk:container:java:staticfiles
    option_name:  /css
    value:  src/main/webapp/css
  - namespace:  aws:elasticbeanstalk:container:java:staticfiles
    option_name:  /images
    value:  src/main/webapp/images
  - namespace:  aws:elasticbeanstalk:container:java:staticfiles
    option_name:  /fonts
    value:  src/main/webapp/fonts
  - namespace:  aws:elasticbeanstalk:container:java:staticfiles
    option_name:  /font-awesome
    value:  src/main/webapp/font-awesome
  - namespace:  aws:elasticbeanstalk:container:java:staticfiles
    option_name:  /js
    value:  src/main/webapp/js
  - namespace:  aws:elasticbeanstalk:container:java:staticfiles
    option_name:  /icon
    value:  src/main/webapp/icon
  - namespace:  aws:elasticbeanstalk:container:java:staticfiles
    option_name:  /formValidation
    value:  src/main/webapp/formValidation
  - namespace:  aws:elasticbeanstalk:container:java:staticfiles
    option_name:  /summernote-master
    value:  src/main/webapp/summernote-master
